/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: 234 233 252; // rgb(234, 233, 252)
    --text-100: 214 210 249; // rgb(214, 210, 249)
    --text-200: 173 165 243; // rgb(173, 165, 243)
    --text-300: 132 120 237; // rgb(132, 120, 237)
    --text-400: 91 75 231; // rgb(91, 75, 231)
    --text-500: 50 31 224; // rgb(50, 31, 224)
    --text-600: 40 24 180; // rgb(40, 24, 180)
    --text-700: 30 18 135; // rgb(30, 18, 135)
    --text-800: 20 12 90; // rgb(20, 12, 90)
    --text-900: 10 6 45; // rgb(10, 6, 45)
    --text-950: 5 3 22; // rgb(5, 3, 22)

    --background-50: 235 235 250; // rgb(235, 235, 250)
    --background-100: 214 214 245; // rgb(214, 214, 245)
    --background-200: 173 173 235; // rgb(173, 173, 235)
    --background-300: 133 133 224; // rgb(133, 133, 224)
    --background-400: 92 92 214; // rgb(92, 92, 214)
    --background-500: 51 51 204; // rgb(51, 51, 204)
    --background-600: 41 41 163; // rgb(41, 41, 163)
    --background-700: 31 31 122; // rgb(31, 31, 122)
    --background-800: 20 20 82; // rgb(20, 20, 82)
    --background-900: 10 10 41; // rgb(10, 10, 41)
    --background-950: 5 5 20; // rgb(5, 5, 20)

    --primary-50: 248 243 237; // rgb(248, 243, 237)
    --primary-100: 240 231 219; // rgb(240, 231, 219)
    --primary-200: 226 207 182; // rgb(226, 207, 182)
    --primary-300: 211 183 146; // rgb(211, 183, 146)
    --primary-400: 197 159 109; // rgb(197, 159, 109)
    --primary-500: 182 135 73; // rgb(182, 135, 73)
    --primary-600: 146 108 58; // rgb(146, 108, 58)
    --primary-700: 109 81 44; // rgb(109, 81, 44)
    --primary-800: 73 54 29; // rgb(73, 54, 29)
    --primary-900: 36 27 15; // rgb(36, 27, 15)
    --primary-950: 18 13 7; // rgb(18, 13, 7)

    --secondary-50: 254 244 231; // rgb(254, 244, 231)
    --secondary-100: 252 233 207; // rgb(252, 233, 207)
    --secondary-200: 250 210 158; // rgb(250, 210, 158)
    --secondary-300: 247 188 110; // rgb(247, 188, 110)
    --secondary-400: 245 165 61; // rgb(245, 165, 61)
    --secondary-500: 242 143 13; // rgb(242, 143, 13)
    --secondary-600: 194 114 10; // rgb(194, 114, 10)
    --secondary-700: 145 86 8; // rgb(145, 86, 8)
    --secondary-800: 97 57 5; // rgb(97, 57, 5)
    --secondary-900: 48 29 3; // rgb(48, 29, 3)
    --secondary-950: 24 14 1; // rgb(24, 14, 1)

    --accent-50: 255 250 230; // rgb(255, 250, 230)
    --accent-100: 255 245 204; // rgb(255, 245, 204)
    --accent-200: 254 236 154; // rgb(254, 236, 154)
    --accent-300: 254 226 103; // rgb(254, 226, 103)
    --accent-400: 254 217 52; // rgb(254, 217, 52)
    --accent-500: 254 207 1; // rgb(254, 207, 1)
    --accent-600: 203 166 1; // rgb(203, 166, 1)
    --accent-700: 152 124 1; // rgb(152, 124, 1)
    --accent-800: 101 83 1; // rgb(101, 83, 1)
    --accent-900: 51 41 0; // rgb(51, 41, 0)
    --accent-950: 25 21 0; // rgb(25, 21, 0)

  }

  .dark {
    --text-50: 4 3 22;
    --text-100: 8 6 45;
    --text-200: 16 12 90;
    --text-300: 24 18 135;
    --text-400: 32 24 180;
    --text-500: 40 31 224;
    --text-600: 83 75 231;
    --text-700: 126 120 237;
    --text-800: 169 165 243;
    --text-900: 212 210 249;
    --text-950: 234 233 252;

    --background-50: 5 5 20;
    --background-100: 10 10 41;
    --background-200: 20 20 82;
    --background-300: 31 31 122;
    --background-400: 41 41 163;
    --background-500: 51 51 204;
    --background-600: 92 92 214;
    --background-700: 133 133 224;
    --background-800: 173 173 235;
    --background-900: 214 214 245;
    --background-950: 235 235 250;

    --primary-50: 18 13 7;
    --primary-100: 36 27 15;
    --primary-200: 73 53 29;
    --primary-300: 109 80 44;
    --primary-400: 146 106 58;
    --primary-500: 182 133 73;
    --primary-600: 197 157 109;
    --primary-700: 211 182 146;
    --primary-800: 226 206 182;
    --primary-900: 240 231 219;
    --primary-950: 248 243 237;

    --secondary-50: 24 14 1;
    --secondary-100: 48 29 3;
    --secondary-200: 97 57 5;
    --secondary-300: 145 86 8;
    --secondary-400: 194 114 10;
    --secondary-500: 242 143 13;
    --secondary-600: 245 165 61;
    --secondary-700: 247 188 110;
    --secondary-800: 250 210 158;
    --secondary-900: 252 233 207;
    --secondary-950: 254 244 231;

    --accent-50: 25 21 0;
    --accent-100: 51 41 0;
    --accent-200: 101 83 1;
    --accent-300: 152 124 1;
    --accent-400: 203 166 1;
    --accent-500: 254 207 1;
    --accent-600: 254 217 52;
    --accent-700: 254 226 103;
    --accent-800: 254 236 154;
    --accent-900: 255 245 204;
    --accent-950: 255 250 230;

  }

  /* Tailwind CSS for Fade Transition */
  .fade-enter-active,
  .fade-leave-active {
    @apply transition-opacity duration-500;
  }

  .fade-enter-from,
  .fade-leave-to {
    @apply opacity-0;
  }
 
}